@import url(./style.css);

.header-group {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 99;
  box-shadow: 0 4px 4px rgb(0 0 0 / 0.07);
  transition-duration: 2s;
}

nav {
  height: 80px;
  display: flex;
}

ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  font-size: 14px;
	color: var(--grey-50);
  text-decoration: none;
  font-family: 'Poppins-Light', 'sans-serif';
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-right: auto;
  margin-left: 20px;
}

.checkbtn {
	font-size: 30px;
	float: right;
	line-height: 80px;
  margin-top: 80px;
	margin-right: 20px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}

@media (max-width: 1080px){
	.checkbtn {
		display: block;
    margin-top: 0px;
	}
	ul{
    width: 100vw;
		height: 100vh;
    padding: 30px 0 0 0;
		top: 63px;
		left: 100%;
    display: block;
		position: fixed;
		background: var(--dark-medium);
		text-align: center;
		transition: all .5s;
	}

  nav ul li {
    margin: 25px 0;
  }
	
	#check:checked ~ ul {
		left: 0;
	}

  .mudar-tema {
    display: none;
  }
}
